* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(173, 142, 112);
  display: flex;
  justify-content: center;
}

.signInBox,
.signUpBox {
  width: 500px;
  height: 620px;
  margin: 50px 20px 0px;
  background-color: rgb(255, 235, 183);
  border-radius: 3px;
  box-shadow: 10px 10px 25px #00000080;
}

h1 {
  text-align: center;
  padding-top: 50px;
  color: rgb(36, 55, 99);
}

form {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form input,
button {
  width: 300px;
  padding: 20px;
  margin: 10px 0px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: rgba(184, 176, 112, 0.291);
  font-size: 18px;
}
button {
  margin-top: 35px;
  border: none;
  background-color: rgba(255, 110, 49, 0.8);
  color: rgb(255, 235, 183);
  cursor: pointer;
}

/* p {
  margin-top: 90px;
  text-align: center;
  font-size: 16px;
}

p a {
  color: rgb(255, 110, 49);
  font-size: 20px;
  text-decoration: none;
} */

input[type="email"]:focus,
input[type="password"]:focus {
  border: 3px solid rgba(255, 110, 49, 0.4);
  width: 350px;
  transition: 0.5s;
}

button:hover {
  border: 3px solid rgb(36, 55, 99, 0.4);
  width: 350px;
  transition: 0.5s;
  background-color: rgb(255, 110, 49);
  transition: 0.5s;
}

#welcome {
  text-align: center;
  font-size: 50px;
  color: rgb(36, 55, 99);
}

#errorSignIn,
#errorSignUp {
  margin-top: 15px;
  color: red;
  font-size: 20px;
  display: none;
}
